<h1 class="titulo">¡Bienvenido! (USUARIO)</h1>
<div class="card">
    <img class="foto-usuario"
        src="http://172.17.131.14:3000/uploads/1743518085523.png"
        alt="Placeholder-Usuario">
    <div class="card-info">
        <p class="nombre"><strong>Nombre:</strong> (Usuario)</p>
        <p class="correo"><strong>Correo:</strong> example&#64;example.com</p>
        <button class="edit-btn">EDITAR PERFIL</button>
    </div>
</div>


<br><br>
<div class="dashboard-container">
    <a routerLink="/dashboard">DASHBOARD</a>
</div>

<br><br>