
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    /* Ajusta la imagen para cubrir el contenedor manteniendo proporciones */
    z-index: -1;
    /* Envía la imagen al fondo */
}

.hero-content {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    font-weight: bold;
}
.post-blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #2d4739;
    margin-bottom: 20px;
  }
  
  .reply-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
  }
  
  .form-textarea {
    height: 100px;
    resize: vertical;
  }
  
  .submit-button {
    background-color: #2d4739;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  .submit-button:hover {
    background-color: #24402f;
  }
  
  .replies-list {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
  }
  
  .reply-card {
    background-color: white;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .reply-card p {
    margin: 0;
  }
  
  .reply-card strong {
    color: #2d4739;
  }