<div class="actividad" *ngFor="let actividad of actividades | paginate: { itemsPerPage: 5, currentPage: p }">
    <img class="fto-actividad" src="{{actividad.nombre_imagen_actividad}}" alt="Escalada" />
    <div class="contenido">
        <div class="titulo">Nombre tipo actividad:
            {{actividad.nombre_tipo_actividad}}</div>
        <p>País: {{actividad.pais}}</p>
        <p>Ciudad: {{actividad.ciudad}}</p>
        <p>Descripción: {{actividad.descripcion}}</p>
        <div class="precio">{{actividad.precio}}€/H</div>
    </div>
</div>

<div class="paginacion">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">

    </pagination-controls>
</div>
