<div class="card-container">
  <div class="card-deck">
    <div class="card" *ngFor="let alojamiento of alojamientos | paginate: { itemsPerPage: 6, currentPage: p }">
      <img [src]="alojamiento.nombre_alojamiento" class="card-img-top" alt="Alojamiento">
      <div class="card-body">
        <h5 class="card-title">{{ alojamiento.nombre_alojamiento }}</h5>
        <p class="card-text">{{ alojamiento.descripcion }}</p>
        <p class="card-text">{{ alojamiento.pais }}, {{ alojamiento.ciudad }}</p>
        <button class="btn btn-primary" (click)="abrirModal(alojamiento)">Saber más</button>
      </div>
    </div>
  </div>
</div>

<!-- Paginación -->
<div class="paginacion">
  <pagination-controls (pageChange)="p = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente">
  </pagination-controls>
</div>

<!-- Modal -->
<div class="modal-overlay" *ngIf="modalAbierto && alojamientoSeleccionado">
  <div class="modal-container">
    <button class="close-btn" (click)="cerrarModal()">✖</button>

    <div class="modal-content">
      <!-- Carrousel de imágenes -->
      <div class="carousel">
        <img *ngIf="alojamientoSeleccionado?.imagenes?.length > 0" 
             [src]="alojamientoSeleccionado?.imagenes[imagenActual]" 
             alt="Imagen del alojamiento">
        <button *ngIf="alojamientoSeleccionado?.imagenes?.length > 1" 
                class="prev" (click)="cambiarImagen(-1)">&#10094;</button>
        <button *ngIf="alojamientoSeleccionado?.imagenes?.length > 1" 
                class="next" (click)="cambiarImagen(1)">&#10095;</button>
      </div>

      <!-- Información del alojamiento -->
      <div class="modal-info">
        <h2 class="titulo-modal">{{ alojamientoSeleccionado.nombre_alojamiento }}</h2>
        <p class="descripcion-modal">{{ alojamientoSeleccionado.descripcion }}</p>
        <p class="precio-modal">{{ alojamientoSeleccionado.precio_dia }}€/dia</p>
        <button class="add-cart-btn" (click)="agregarAlCarrito(alojamientoSeleccionado)">
          Añadir al carrito
        </button>
      </div>
    </div>
  </div>
</div>