<div class="hero-container">
    <img src="/Fondo.png" alt="Fondo" class="hero-background" />
    <div class="hero-content">
      <h1 class="hero-title">VEHÍCULOS DE ALQUILER</h1>
    </div>  
</div>

<div class="vehicles-container">
  <div class="vehicle-card">
      <img src="logo.png" alt="Coche" class="vehicle-image">
      <div class="vehicle-info">
          <h3 class="vehicle-name">Coche</h3>
          <p class="vehicle-price">10€/DÍA</p>
      </div>
  </div>
  <div class="vehicle-card">
      <img src="/minivan.png" alt="Minivan" class="vehicle-image">
      <div class="vehicle-info">
          <h3 class="vehicle-name">Minivan</h3>
          <p class="vehicle-price">20€/DÍA</p>
      </div>
  </div>
  <div class="vehicle-card">
      <img src="/moto.png" alt="Moto" class="vehicle-image">
      <div class="vehicle-info">
          <h3 class="vehicle-name">Moto</h3>
          <p class="vehicle-price">7€/DÍA</p>
      </div>
  </div>
</div>