@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* VEHICULOS DE ALQUILER */
.vehicles-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    width: 80%;
    margin: 20px auto;
}

.vehicle-card {
    background-color: #cccccc;
    text-align: center;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.vehicle-image {
    width: 50%;
    height: auto;
    margin: auto;

}

.vehicle-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    background-color: #123d22;
    padding: 10px; /* Añadir padding para el contenido */
    bottom: 0; /* Alinear en la parte inferior */
    left: 0; /* Alinear a la izquierda */
}

.vehicle-name {
    font-size: 1.4rem;
    margin: 0;
    color: #ffffff; /* Tono más oscuro */
}

.vehicle-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: #ffffff; /* Tono más oscuro */
}
